
#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.table{
  width:100%;
  height:100%;
  position:fixed;
}

#main-table{
  background: url("images/table/table-texture.jpg");
}

#work-experience-table{
  background: url("images/table/table-texture-2.jpg");
}

.hidden{
  display:none;
}

#table-tracker{
  position:fixed;
  height:5%;
  width:20%;
  top: 95%;
  left: 5%;
  z-index: 2;
  font-family: 'permanent-marker';
  font-size: 50px;
  color:white;
}

.card-box{
  position:fixed;
  z-index: 2;
  color: white;
  height: 33%;
  width: 12%;
  top: 65%;
  left: 42%;
  background: brown;
  cursor: pointer;
  filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.9));
}

.card-box .open{
  display:none;
}

#main-card-box{
  background: url("images/table/cardboard-texture-1.jpg");
} 

#work-exp-card-box{
  background: url("images/table/cardboard-texture-2.jpg");
}

/* Card CSS */
.card {
  position: absolute;
  width: 250px;
  height: 400px;
  border-radius: 25px;
  cursor: pointer;
  top: 65%;
  left: 42%;
  transition: box-shadow 0.15s ease;
  perspective: 5000px;
  filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.9));
  /* box-shadow: 0 10px 24px rgba(0, 0, 0, 0.3); */
}

/* .card:hover{
  animation: wobble .5s linear infinite;
} */

.card.horizontal {
  width: 400px;
  height: 250px;
}

.card.horizontal.is-dragging{
  width: 425px;
  height: 275px;
  filter: drop-shadow(0 40px 40px rgba(0, 0, 0, .1));
}

.card.diagonal {
  transform: rotate(25deg);
}

.card.is-dragging {
  cursor: grabbing;
  width: 275px;
  height: 425px;
  filter: drop-shadow(0 40px 40px rgba(0, 0, 0, .1));
}

.card.fly-out{
  background: none;
  animation: flyoutClick 2s ease;
}

.card.deal{
  /* transition: transform 0.5s ease-out;  */
  transition: transform 0.5s ease-out;
}

@keyframes sendOut {
  0% {
    top: 65%
  }
  100% {
    /* Rotates a full 360 degrees on multiple axes for a true 3D look */
    transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
  }
}

.card-function{
  width: 10%;
  height: 10%;
  position: absolute;
  color: white;
  bottom: 5%;
  right: 15%;
  font-size: 50px;
}

.card-function.horizontal{
  bottom: 25%;
  right: 5%;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: 0.6s allow-discrete;
}

.card-inner.is-flipped {
  transform: rotateY(180deg) rotate(180deg);
}

.card-inner.infinite-spin{
    animation: spin3d 2s linear infinite;
}

@keyframes spin3d {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    /* Rotates a full 360 degrees on multiple axes for a true 3D look */
    transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
  }
}

@keyframes wobble{
  0% {transform: rotate(2deg);}
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-front{
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back {
  background: white;
  transform: rotateY(180deg) rotate(180deg);
}

.card-back {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width:100%;
    height:100%;
  }

  button{
    border:0;
    background:none;
    padding:2px;
  }
} 

.card-back.contact-info{
  font-size: 15px;
}

/* Business Card CSS */

.card.business {
  font-family: "metal";
  font-size: 40px;
  border-radius: 5px;
}

.card-face.business {
  border-radius: 5px;
}

.container-image{
  border-radius: 5px;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.company-logo{
  height:50%;
  width:auto;
}

.content.front{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "metal";
  font-size: 100px;
}

.card-back.business{
  display:flex;
  flex-direction: row;
  transform: rotateY(180deg) rotate(180deg);
}

.card-back.business{
  .content {
    flex: 1 0 50%;
    height: 100%;
  }
  img {
    pointer-events: none;
  }
}

.content.content-fill{
  background: black;
  width: 100%;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
}

.title-info{
  padding:10px;
  height: 100%;
  width: 100%;
}

.title{
  border-bottom: 1px solid black;
  font-size: 20px;
  margin-top: -30px;
}

#email{
  button{
    cursor: copy;
  }
}

.contact-info{
  font-size: 17px;
  button {
    margin-top: 55px;
    i {
      padding-right: 5px;
    }
    
  }
}

.draggable-image i {
  left: 85%;
  top: 70%;
  position: absolute;
  color: white;
}

/* Github Card */

@keyframes flyoutClick{
  0% {translate:0px 0px;}
  25% {translate:0px 500px;}
  100% {translate:0px -5000px;}
}
#github-image{
  width: 80%;
  height: auto;
}

/* Lighting */

#lighting {
  width: 100%;
  height: 100%;
  position:fixed;
  pointer-events: none;
  z-index: 1;

  animation: lightsOn .5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#lighting.full-bright{
  animation: none;
}

@keyframes lightsOn {
  0%{
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1) 90%);
  }
  25%{
    background: radial-gradient(circle, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .75) 20%, rgba(0, 0, 0, .75) 75%, rgba(0, 0, 0, .9) 90%);
  }
  70%{
    background: radial-gradient(circle, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 20%, rgba(0, 0, 0, .5) 75%, rgba(0, 0, 0, .9) 90%);
  }
  90%{
    background: radial-gradient(circle, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .25) 20%, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .9) 90%);
  }
  100%{
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, .9) 90%);
  }
}

/* Function Buttons */
.function-buttons{
  display:flex;
  flex-direction: column;
  top: 35%;
  left: 3%;
  background:none;
  position:relative;
  width:10%;
  height:20%;
}

.function{
  display:flex;
  align-items: center;
  justify-content: center;
  width:75px;
  height:75px;
  flex:1 0 25%;
  padding:10px;
  background:white;
  color:black;
  cursor: pointer;
}

.github-image{
  width:100%;
  height:100%;
}

.function-button{
  background:none;
  border:none;
  cursor:pointer;
}

.function-icon{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 40px;
}

/* Confirmation Pop-up */
#confirmation-modal{
  position: fixed;
  width:100%;
  height:100%;
  z-index:2;
  border-radius: 5px;
}

.modal-background{
  background:black;
  opacity: 50%;
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
}

.modal-window{
  display:flex;
  flex-direction: column;
  width:30%;
  height:40%;
  top: 30%;
  left: 35%;
  position: fixed;
  background: white;
  justify-content: center;
  align-items: center;
  z-index:2;
}

.modal-window.large{
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  border-radius: 15px;
}

.modal-title{
  font-family: 'permanent-marker';
  font-size:65px;
}

.modal-work-title{
  font-family: 'permanent-marker';
  font-size:65px;
  padding-bottom: 50px;
  color:black;
}

.oracle-health{
  color:#c94534;
}

.cerner{
  color:#017cbf;
}

.modal-text{
  font-family: 'permanent-marker';
  font-size:35px;
  width: 80%;
  white-space: pre-line;
  color:black;
}

.modal-text.work-exp{
  font-size: 20px;
  overflow-y: auto;
}

.modal-choices{
  button{
    font-family: 'permanent-marker';
    font-size:40px;
    padding:80px;
    background:none;
    border:none;
    cursor: pointer;
  }
}

.modal-close{
  position:absolute;
  top: 0%;
  left: 95%;
  font-size: 40px;
  font-family: "permanent-marker";
  cursor: pointer;
  button{
    font-family: 'permanent-marker';
    font-size:40px;
    padding:80px;
    background:none;
    border:none;
    cursor: pointer;
  }
  
}

/* Fonts */

@font-face {
  font-family: 'permanent-marker';
  src: url("fonts/PermanentMarker-Regular.ttf");
}

@font-face {
  font-family: 'metal';
  src: url("fonts/Metal-Regular.ttf");
}